#list{
    padding: 20px;
    border:20x solid burlywood;
    width:80%;
    margin: 30px auto;
    background-color: rgb(14 ,128,20);
    padding: 10px;
    margin-bottom: 10px;
    color:cornsilk;
}